<%= form_for(@curriculum) do |f| %>
  <% if @curriculum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

      <ul>
      <% @curriculum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brief_description, 'Breve descrição' %>
    <%= f.text_area :brief_description %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar curriculum' %>
  </div>
<% end %>
