<p id="notice"><%= notice %></p>

<p>
  <b>Due to:</b>
  <%= @bulletin.due_to %>
</p>

<p>
  <b>Content:</b>
  <%= @bulletin.content %>
</p>

<p>
  <b>English content:</b>
  <%= @bulletin.english_content %>
</p>


<%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |
<%= link_to 'Back', bulletins_path %>
