<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag :all %> 
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'aplication' %>
    <%= csrf_meta_tag %>
    <title>Moisés Freire</title>
  </head>
  <body>
    <div id="app">
      <div id="header">
        <div id="menu">
          <ul>
            <li>
              <%= link_to 'Início', root_path %>
            </li>
            <li>
              <%= link_to 'A empresa', company_path %>
            </li>
            <li>
              <%= link_to 'Áreas de atuação', professional_areas_path %>
            </li>
            <li>
              <%= link_to 'Profissionais', professionals_path %>
            </li>
            <li>
              <%= link_to 'Notícias', news_index_path %>
            </li>
            <li>
              <a href="#">Trabalhe conosco</a>
            </li>
          </ul>
          <div class="clear"></div><!-- .clear -->
          
          <img src="/images/menu-arrow-left.png" id="menu-arrow-left" />
          <img src="/images/menu-arrow-right.png" id="menu-arrow-right" />
          
        </div><!-- #menu -->
        <div id="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div><!-- #logo -->
        <div class="clear"></div><!-- .clear -->
      </div><!-- #header -->
      <div id="content">
        <%= yield %>
        <div class="clear"></div>
      </div><!-- #content -->
      <div id="footer">
        <ul>
          <li>
            <a href="#">Início</a>
          </li>
          <li>
            <a href="#">A empresa</a>
          </li>
          <li>
            <a href="#">Áreas de atuação</a>
          </li>
          <li>
            <a href="#">Profissionais</a>
          </li>
          <li>
            <a href="#">Notícias</a>
          </li>
          <li>
            <a href="#">Trabalhe conosco</a>
          </li>
        </ul>
        <div class="clear"></div><!-- .clear -->
        <div id="footer-logo">
          <img src="/images/footer-logo.png" />
        </div><!-- #footer-logo -->
      </div><!-- #footer -->
    </div><!-- #app -->
  </body>
</html>

